*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background: #007ba7;
}

h1{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    position: absolute;
    top: 36px;
    left: 440px;
    color: lightyellow;
}

header{
    background-color: #344611;
    height: 20vh;
    position: relative;
    border-bottom: 8px solid #841010;
}

.start-button{
    cursor: pointer;
    position: relative;
    /* top: 60px; */
    left: 200px;
    width: 144px;
    height: 72px;
    text-transform: capitalize;
    font-size: 32px;
    color: lightyellow;
    background-color: #841010;
    border: 2px solid #67330F;
    border-radius: 5%;
}

.start-button:hover{
    background-color: #67330F;
    border: 2px solid #841010;
}

#gameBoard{
    position: relative;
    left: 240px;
    border-radius: 10%;
    /* background-color: darkred; */
}

#gameSection{
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 50px auto;
    padding: 10px auto;
    /* background-color: darkred; */
    width: 760px;
    height: 650px;
    border-radius: 5%;
}

.connect-space {
    width: 100px;
    height: 100px;
    margin: 4px;
    background: #ddd;
    /* box-shadow: 0 0 0 3px black; */
    /* border: 1px solid #000; */
    border-radius: 50%;
    cursor: pointer;
}

.connect-space:hover{
    background-color: #fff;
}

.heads, .orange{
    background-color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.tails, .pink{
    background-color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

/* .cell{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333;
    cursor: pointer;
    line-height: 100px;
} */